/**
 * Adapted from:
 * Responsive Tooltip for Zepto - CodePen - by David Kerns
 * codepen.io/kerns/pen/ydBqk
**/

.tooltip {
  max-width: 220px;
  background-color: $black-120;
  border-color: $black-120;
  color: white;
  opacity: 0.75;
  padding: 6px 8px;
  position:absolute;
  z-index: 1;
  border-radius: 4px;
}

.tooltip-arrow {
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: inherit;
  position:absolute;
  top: 95%;
  left: 50%;
  margin-left: -6px;
}

.tooltip-bottom .tooltip-arrow {
  border-bottom-color: inherit;
  border-top-color: transparent;
  top: auto;
  bottom: 95%;
}

.tooltip-right .tooltip-arrow {
  left: 10px;
  margin: 0;
}

.tooltip-left .tooltip-arrow {
  right: 10px;
  left: auto;
  margin: 0;
}

.tooltip-hidden {
  display: none;
}