@import "../../../scss/variables";
@import "../../../scss/utils";

.example {
  border: 1px solid $black-30;
  border-radius: $form-border-radius;
  padding: 20px 0.5em;
  margin-top: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;


  &:before {
    content: 'Example:';
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: $black-70;
  }

  & + pre {
    border: 1px solid $black-30;
    border-top: 0;
    border-radius: $form-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;

    code {
      border-radius: 0;
    }
  }
}