@import "variables";
@import "mixins/utils";
@import "mixins/ellipsis";

.sc-clearfix {
  @include clearfix;
}

.sc-pull-right {
  float: right !important;
}

.sc-pull-left {
  float: left !important;
}

.sc-text-left {
  text-align: left;
}

.sc-text-right {
  text-align: right;
}

.sc-text-center {
  text-align: center;
}

.sc-text-justify {
  text-align: justify;
}

.sc-text-nowrap {
  white-space: nowrap;
}

.sc-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sc-absolute-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sc-ellipsis {
  @include ellipsis();
}

.sc-block {
  display: block;
}

.sc-hidden {
  display: none;
}

.sc-visible {
  display: initial;
}

.sc-overflow-hidden {
  overflow: hidden;
}

//xl viewport
@include mqmin($viewportXL) {
  .sc-hidden-xl {
    display: none;
  }
  .sc-visible-xl {
    display: initial;
  }
}

//l viewport
@include mqmax($viewportXL - 1) {
  .sc-hidden-l {
    display: none;
  }
  .sc-visible-l {
    display: initial;
  }
}

//m viewport
@include mqmax($viewportL - 1) {
  .sc-hidden-m {
    display: none;
  }
  .sc-visible-m {
    display: initial;
  }
}

//s viewport
@include mqmax($viewportM - 1) {
  .sc-hidden-s {
    display: none;
  }
  .sc-visible-s {
    display: initial;
  }
}

.sc-box-spacing {
  margin-bottom: 30px;

  @include mqmin($viewportM) {
    margin-bottom: 40px;
  }
}

//TODO: Remove?
.sc-telekom-bar {
  padding-right: $XL;
  text-align: right;
  as24-icon[type="t-online"] {
    height: $XL - 1;
  }
}

.sc-section {
  border-bottom: 1px solid $black-30;
  background-color: $white;
  padding: 0 $XL;

  &.sc-section-transparent {
    background-color: transparent;
  }
}
